a {
  text-decoration: none;
}

button {
  font-family: "Arial", sans-serif;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  font-family: "Arial", sans-serif;
  min-width: 300px;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  margin: 29px 0 16px 20px;
  color: $font-color-primary;

  &--main {
    display: none;
  }
}

.svg-sprite {
  display: none;
}

.section-scroll-btns {
  display: none;
}

.filter-select {
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  width: 19%;
  height: 30px;
  margin: 7px 20px 0 auto;
  padding: 0 10px;
  cursor: pointer;
  text-indent: 5px;
  border: none;
  border-radius: 50px;
  background-color: $contrast-color;

  appearance: none;

  &:hover {
    background-color: $contrast-color-hover;
  }
}

.favourites__header {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.device-list {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  overflow: -moz-scrollbars-none;
  margin-bottom: 5px;
  padding-bottom: 3px;
  // Список листается с мобильных устройств в эмуляторе хрома, и не имеет скроллбара на
  // узких ширинах десктопа. Как совместить то и другое без вреда дизайну
  // пока не сообразил, но если главный критерий - соответствие макету, то
  // это условие выполняется )

  -ms-overflow-style: none;

  &--favourites {
    margin-top: 3px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.canvas {
  position: absolute;
  top: 29px;
  right: 55px;
}
