.device-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: 200px;
  height: 100px;
  margin: 0 0 0 18px;
  border-radius: 20px;
  background-color: #f7f7f7;
}

.device-card__icon {
  padding: 17px 0 0 12px;
}

.device-card__icon--xl {
  padding: 10px 0 0 13px;
}

.device-card__text {
  padding: 0 0 12px 16px;
}

.device-card__text-title {
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  max-width: 170px;
  margin: 0;
  color: $font-color-primary;
}

.device-card__text-subtitle {
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  padding-top: 4px;
  color: $font-color-secondary;
}

.device-card--xl {
  height: 115px;
  margin: 0 0 0 20px;
}
