.greetings {
  width: 89.3%;
  min-height: 282px;
  margin: 12px 5%;
  border-radius: 20px;
  background-image: url("../img/greeetings_bg@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
  (min-resolution: 144dpi),
  (min-resolution: 1.5dppx) {
  .greetings {
    background-image: url("../img/greeetings_bg@2x.png");
  }
}

.greetings__info-wrapper {
  padding: 6px 0 6px 20px;
  max-width: 435px;
}

.greetings__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 0;
  transition: 0.3s linear;
  color: $font-color-primary;
}

.greetings__subtitle {
  font-size: 12px;
  line-height: 14px;
  margin: 4px 0 15px 0;
  color: $font-color-primary;
}

.greetings__temperature-wrapper {
  display: flex;
}

.greetings__temperature {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-right: 19px;
}

.greetings__temperature-subtitle--icon::after {
  position: absolute;
  top: 24px;
  right: 3px;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url("../img/svg/icon_cloud.svg");
  background-size: cover;
}

.greetings__temperature-title {
  font-size: 12px;
  line-height: 14px;
  color: $font-color-secondary;
}

.greetings__temperature-subtitle {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  padding-top: 5px;
  color: $font-color-primary;
}

.greetings__btn-show-more {
  display: none;
}

@media ($tablet-width) {
  .greetings {
    display: flex;
    justify-content: space-between;
    height: 331px;
  }

  .greetings__info-wrapper {
    padding: 4px 0 6px 26px;
  }

  .greetings__title {
    font-size: 27px;
    line-height: 31px;
  }

  .greetings__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 26px;
  }

  .greetings__temperature-title {
    font-size: 14px;
    line-height: 16px;
  }

  .greetings__temperature-subtitle {
    font-size: 36px;
    line-height: 42px;
  }

  .greetings__temperature-subtitle--icon::after {
    top: 26px;
    right: -12px;
    width: 26px;
    height: 26px;
  }
}

@media ($desktop-width) {
  .greetings {
    width: 630px;
    margin: 19px 0 19px 40px;
  }
}
