.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none; // flex
  align-items: center;
  justify-content: center;
  background-color: rgba(51, 51, 51, .5);
}

.modal__content {
  position: absolute;
  top: 23px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 334px; //89%
  height: 642px;
}

.modal__device {
  height: 492px;
  border-radius: 20px;
  background-color: white;
}

.modal__text {
  color: $font-color-primary;
}

.modal__text-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  margin: 21px 0 0 0;
  padding: 0 0 0 20px;
}

.modal__text-subtitle {
  font-size: 12px;
  line-height: 14px;
  margin: 4px 0 0 0;
  padding: 0 0 0 20px;
}

.modal__text-radio-container {
  display: flex;
  align-items: center;
  overflow-y: scroll;
  overflow: -moz-scrollbars-none;
  margin: 15px 0 23px 0;
  padding-bottom: 5px;

  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  & li:first-of-type {
    margin-left: 20px;
  }

  & li {
  }

  & li label {
    font-size: 13px;
    display: inline-block;
    margin-right: 12px;
    padding: 7px 15px;
    white-space: nowrap;
    border-radius: 20px;
    background-color: #f2f1f0;

    &:hover {
      @include device-card-hover;
    }
    &:active {
      @include device-card-active;
    }
  }

  & li input {
    position: absolute;
    opacity: 0;

    &:checked + label {
      background-color: $contrast-color;

      &:hover {
        background-color: $contrast-color-hover;
      }
      &:active {
        background-color: $contrast-color-active;
      }
    }
  }
}

.modal__bnt-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 135px;
}

.modal__btn {
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  padding: 19px 0;
  border-radius: 20px;
  background-color: white;

  &--submit {
    background-color: $contrast-color;

    &:hover {
      background-color: $contrast-color-hover;
    }

    &:active {
      background-color: $contrast-color-active;
    }
  }
  &--close {
    &:hover {
      @include device-card-hover;
    }
    &:active {
      @include device-card-active;
    }
  }
}

.modal__slider-output {
  font-size: 36px;
  font-weight: bold;
  line-height: 42px;
  position: absolute;
  top: -122px;
  right: 69px;
  display: none;
}

.modal__slider-container {
  position: relative;
  height: 336px;
}

.modal__slider-indicator {
  position: absolute;
  top: -126px;
  right: 23px;
  display: none;
  width: 45px;
  height: 45px;
  background-image: url("../img/svg/icon_temperature_active.svg");
  background-size: cover;
}

.modal__slider-icon {
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  pointer-events: none; // не даст ползунку слайдера застревать в точках экстремума
  color: white; // Стили для modal__slider--light

  &--top {
    top: 12px;
    right: 44.3%;
    background-image: url("../img/svg/icon-sun_max.svg");
  }

  &--bottom {
    right: 44.3%;
    bottom: 14px;
    background-image: url("../img/svg/icon-sun_min.svg");
  } // Стили для modal__slider--temp
  //   &--top {
  //   top: 16px
  //   right: 43.5%
  // }
  // &--bottom {
  //   right: 43.5%
  //   bottom: 0;
}

.modal__slider {
  width: 336px;
  height: 60px;
  margin: 138px 0 0 0;
  cursor: pointer;
  transform: rotate(-90deg);
  border-radius: 35px;
  background-color: $contrast-color;

  -webkit-appearance: none;

  &--temp {
    background-image: linear-gradient(90deg, #068fff 0%, #ffd800 50%, #f76b1c 100%);
  }

  &--light {
    background-image: linear-gradient(90deg, #ffe88c 0%, #ffb100 100%);
  }

  &::-webkit-slider-thumb {
    width: 60px;
    height: 60px;
    border: 3px solid rgba(33, 33, 33, .1); // Внутренний бордер
    border-radius: 30px;
    box-shadow: 0 0 0 4px white; // Внешний бордер

    -webkit-appearance: none;
  }

  &::-moz-range-track {
    width: 0; // Прячет полосу прокрутки
  }

  &::-moz-range-thumb {
    @include moz-ms-slider-thumb;
  }

  &::-ms-thumb {
    @include moz-ms-slider-thumb;
  }

  &:disabled {
    filter: grayscale(30%);
    // Мне показалось логичным, что если есть опция "вручную", то остальные
    // кнопки должны отключать возможность редактирования инпута,
    // но это не точно
  }
}

@media ($desktop-width) {
  .modal__text {
    height: 123px;
  }

  .modal__text-title {
    font-size: 27px;
    line-height: 31px;
    margin-top: 26px;
    padding-left: 25px;
  }

  .modal__text-subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-top: 5px;
    padding-left: 25px;
  }

  .modal__device {
    // height: 343px;
    // Для не-канваса
    height: 238px;
    //для не-канваса
  }

  .modal__slider-container {
    height: 60px;
  }

  .modal__content {
    // top: 100px;
    // Для не-канваса
    top: 188px;
    //для не-канваса
    justify-content: flex-start;
    width: 630px;
    min-height: 238px; //89%
  }

  .modal__slider {
    width: 580px;
    margin: 5px 0 0 24px;
    transform: rotate(360deg);
  }

  .modal__slider-indicator {
    display: block;
  }

  .modal__slider-icon {
    &--top {
      top: 17px;
      right: 42px;
    }

    &--bottom {
      bottom: 7px;
      left: 37px;
    }
  }
  .modal__slider-output {
    display: block;
  }

  .modal__text-radio-container {
    margin: 21px 0 0 0;
    & li:first-of-type {
      margin-left: 25px;
    }
  }

  .modal__bnt-container {
    justify-content: space-between;
    flex-direction: row;
    height: 60px;
    margin-top: 21px;
  }

  .modal__btn {
    width: 307px;
  }
}
