.modal {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 100;
  background-color: rgba(51, 51, 51, .5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px; //89% 334px
  height: 642px;
  position: absolute; // padding: 30px;
  top: 23px; // border-radius: 30px;
  // box-shadow: 0 5px 15px 3px $shadow-color;
}

.modal__device {
  width: 100%;
  height: 492px;
  border-radius: 20px;
  background-color: white;
}

.modal__text {
  padding: 0 0 0 20px;
  color: $font-color-primary;
}

.modal__text-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin: 21px 0 0 0;
}

.modal__text-subtitle {
  font-size: 12px;
  line-height: 14px;
  margin: 4px 0 20px 0;
}

.modal__text-radio-container {
  display: flex;

  & li label {
    border-radius: 20px;
    padding: 7px 15px;
    font-size: 13px;
    margin-right: 12px;
    background-color: #F2F1F0;
  }

  & li input {
    position: absolute;
    opacity: 0;

    &:checked+label {
      background-color: $contrast-color;
    }
  }
}

.modal__btn {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  border-radius: 20px;
  padding: 19px 0;
  background-color: white;
}

.modal__range-input {
  transform: rotate(-90deg);
  background-image: linear-gradient(90deg, #068FFF 0%, #FFD800 50%, #F76B1C 100%);
  border-radius: 35px;
  height: 60px;
  width: 336px;
}

.modal__range-output {
  display: none;
}

.modal__btn--submit {
  background-color: $contrast-color;
}

//     filter: blur(5px);
.modal__range-input {
  -webkit-appearance: none;
  margin: 157px 0 0 0;

  &::-webkit-slider-thumb {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: 3px solid rgba(33, 33, 33, 0.1); // Внутренний бордер
    box-shadow: 0 0 0 4px white; // Внешний бордер
    -webkit-appearance: none;
  }

  &::-moz-range-track {
    width: 0; // Прячет полосу прокрутки
  }

  &::-moz-range-thumb {
    height: 55px;
    width: 55px;
    border-radius: 40px;
    border: 3px solid rgba(33, 33, 33, 0.1); // Внутренний бордер
    box-shadow: 0 0 0 4px white; // Внешний бордер
    background: transparent;
    cursor: pointer;
  }

  &::-ms-track {
    width: 100%;
    height: 11.3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-ms-fill-lower {
    background: #161b0e;
    border: 1.1px solid #18d501;
    border-radius: 2px;
    box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
  }

  &::-ms-fill-upper {
    background: #414d28;
    border: 1.1px solid #18d501;
    border-radius: 2px;
    box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
  }

  &::-ms-thumb {
    box-shadow: 2.6px 2.6px 3.7px #00aa00, 0px 0px 2.6px #00c300;
    border: 2.5px solid #83e584;
    height: 23px;
    width: 23px;
    border-radius: 12px;
    background: rgba(78, 150, 67, 0);
    cursor: pointer;
    height: 11.3px;
  } // &:before {
  //   position: relative;
  //   display: block;
  //   font-family: Arial;
  //   content: "–10";
  //   color: white;
  //   font-size: 18px;
  //   font-weight: bold;
  //   transform: rotate(90deg);
  // }
  // &:after {
  //   position: relative;
  //   display: block;
  //   font-family: Arial;
  //   content: "–10";
  //   color: black;
  //   font-size: 18px;
  //   font-weight: bold;
  //   transform: rotate(90deg);
  // }
  //Псевдоэлементы мешают полному скроллу так как добавляются внутрь родителя
}
